.header {
  @include flexBox(column, flex-start, center);
  height: 100vh;
}
.perfil {
  @include flexBox(column, center, center);
  width: calc(100% - 100px);
  height: calc(100%);
  margin: 0px auto;
}
.img--perfil {
  height: 150px;
  // object-fit: contain;
  border-radius: 50%;
  background-color: red;
}
.presentation--perfil {
  @include flexBox(column, center, center);
}
.greetings--perfil {
  font-weight: $fontNormal;
  font-size: 1rem;
  margin: 10px 0px;
  & > span {
    font-size: 1.1rem;
    font-weight: $fontBold;
  }
}
.emoji--perfil {
  width: 20px;
  height: 20px;
}
.presentationText--perfil {
  text-align: center;
  font-weight: $fontNormal;
  & > span {
    font-weight: $fontBolder;
    font-size: 1.6rem;
  }
}
.skill--perfil {
  font-size: 5rem;
  font-weight: $fontLight;
}

.networks {
  @include flexBox(row, center, center);
  width: 100%;
  background-color: aquamarine;
  padding: 10px 0px;
}
.icon-networks {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 50%;
  &:hover {
    background-color: white;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
  }
}
.icon--networks {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 50%;
}
