.menuScroll {
  position: fixed;
  // left: 0px;
  top: 25%;
  background-color: transparent;
}
.menuItem--menuScroll {
  background-color: aqua;
  margin: 3px 0;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cecece;
  cursor: pointer;
  // Font
  font-size: 20px;
  font-weight: $fontBold;
  text-align: center;
}
