@import "./utilities/variables";
@import "./utilities/mixins";

@import "./views/header";
@import "./views/index";
* {
  background-color: #efefef;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
